<div class="span8 offset2">
<p class="lead intro">Track your workouts and learn how to tweak your workout sessions for optimal growth.</p>
<div class="wo-center">
  <div class="intro-img">
  <img src="http://d3js.org/ex/nutrient.png" alt="Icon" />
  </div>
  <%= link_to "Create an account", new_user_registration_path, :class => "btn btn-info wo-btn" %>
</div>
</div>