<fieldset>
  <div class="widget widget-create">
    <div class="widget-header">
    <%= f.text_field :lift_id, :placeholder => "Lift name" %><br/>
    </div>
    <div class="widget-content">
      <div class="widget-form">
        <%= f.fields_for :exercise_sets do |builder| %>
          <%= render 'exercise_set_fields', :f => builder %>
        <% end %>
        <%= link_to_add_fields "Add Set", f, :exercise_sets %>
      </div>
    </div>
  </div>
</fieldset>